<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350494949308-jpvbl7sj3i7hvvouauagu4p39mrdoih0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350494949308-jpvbl7sj3i7hvvouauagu4p39mrdoih0</string>
	<key>API_KEY</key>
	<string>AIzaSyA0p76J2uAlZUgnkqajKzPWzlLHil2hF50</string>
	<key>GCM_SENDER_ID</key>
	<string>350494949308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techwithkingpin.brewapp</string>
	<key>PROJECT_ID</key>
	<string>brewapp-738d5</string>
	<key>STORAGE_BUCKET</key>
	<string>brewapp-738d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350494949308:ios:979b49f745858018f475b9</string>
</dict>
</plist>